@font-face {
    font-family: ibm;
    src: url(assets/Montserrat-Bold.ttf);
}

@font-face {
    font-family: ibm-chota;
    src: url(assets/Montserrat-Medium.ttf);
}

@font-face {
    font-family: regular;
    src: url(assets/Montserrat-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html , body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

header {
    /* width: 100%; */
    font-size: 30px;
    height: 10%;
}

nav{
    position: sticky;
    font-size: 30px;
    font-family: ibm;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0px 50px;
    width: 100%;
    z-index: 9;
    background-color: #9ae97544;
    backdrop-filter: blur(20px);
}
#responsive-menu{
    padding: 50px;
    position: fixed;
    width: 100%;
    height: 100%;
    right: -100%;
    z-index: 9;
    overflow: scroll;
    background-color: #9ae97565;
    backdrop-filter: blur(10px);
    top: 0;
}

#responsive-menu h2{
    margin: 30px;
    font-size: 50px;
    font-family: ibm-chota;
}

#responsive-menu i{
    font-size: 30px;
    font-weight: 900;
    position: absolute;
    padding: 30px 50px;
    top: 0;
    right: 0;
}

/* 
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.nav-part2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-part2 h4 {
    font-weight: 500;
    font-family: ibm-chota;
}

.nav-part2 i {
    display: none;
}

nav button {
    padding: 1vw 1vw;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #111;
}

nav h1 i {
    display: inline-block;
    rotate: 45deg;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#hero-section {
    height: auto;
    margin: 30px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#left {
    font-size: 30px;
    width: 40%;
}

#left h1 {
    font-family: ibm;
    font-size: 50px;
}

#left p {
    margin: 20px 0;
}


#left>button {
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

button {
    position: relative;
    z-index: 1;
    cursor: pointer;
    overflow: hidden;
}

/* Button hover effect */
button::before {
    content: "";
    width: 0;
    height: 0;
    border-radius: 50%;
    position: absolute;
    top: var(--y, 0);
    left: var(--x, 0);
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: width .7s ease, height .7s ease;
    z-index: -1;
    pointer-events: none;
}

button:hover::before {
    width: 600px;
    height: 600px;
    transform: translate(-50%, -50%);
}


#right {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
}

#right img {
    width: 80%;
    position: static;
}

#brands {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    width: 90%;
    gap: 10px;
}

#brands img {
    height: 40px;
}


.section{
    margin:30px 50px;
}

.services {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.services p {
    width: 40%;
    margin-left: 20px;
    font-size: 20px;
}

.sub-heading{
    background-color: #9AE975;
    padding: 10px;
    border-radius: 5px;
    font-size: 35px;
    font-family: ibm-chota;
}

#container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    margin:30px 0;
    flex-wrap: wrap;
}

.elem {
    padding: 20px;
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 40%;
    border: 4px solid black;
    border-radius: 30px;
    margin: 30px 0;
    min-width: 480px;
    box-shadow: 0 10px 0 black;
}

.part1 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.part1 h3 {
    background-color: #9AE975;
    font-size: 25px;
    width: 90%;
    border-radius: 5px;
}

.part2 {
    position: relative;
    width: 50%;
}

.part2 img {
    height: 100%;
}

.part1 i {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 50%;
}

.part1 h4 {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    gap: 20px;
}

.black {
    background-color: black;
}

.black h4 {
    color: white;
}

.black i {
    background-color: white;
    color: black;
}

.black .part1 h3 {
    background-color: white;
}

h3{
    font-family: ibm-chota;
}

.contact-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 300px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.128);
    padding: 30px;
    border-radius: 10px;
}

.contact-left {
    /* width: 100%; */
    grid-row: 1/2;
    grid-column: 1/2;
}

.contact-left h3 {
    font-size: 40px;
}

.contact-left p {
    padding: 30px 0;
    font-size: 20px;
    width: 80%;
}

.contact-left button {
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    position: relative;
}

.contact-right {
    width: 100%;
    /* width: 100%; */
    position: relative;
    display: flex;  
    justify-content: end;                                                                               
}

.contact-right img{
    height: 260px;
}

.case-study {
    margin: 50px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.case-study p {
    width: 40%;
    margin-left: 20px;
    font-size: 20px;
}

.learn-more {
    padding: 30px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    height: 300px;
    background-color: rgba(0, 0, 0);
    color: white;
}

.learn-more-sec {
    font-size: 20px;
    width: 33.33%;
    border-right: 1px solid gray;
    padding: 50px;
}

#last-elem {
    border: none;
}

.more {
    padding: 20px 0;
    font-size: 25px;
    color: #9AE975;
}

/* Responsiveness */

@media only screen and (max-width:1290px) {
    .elem {
        margin: 20px;
    }

    .contact-us{
        height: max-content;
    }
    
    .nav-part2 h4 {
        display: none;
    }

    .nav-part2 button {
        display: none;
    }

    .nav-part2 i {
        display: inline-block;
        font-size: 24px;
    }
}

@media only screen and (max-width:1150px) {

    /* #right img{
        height: 80%;
    } */

    #left {
        width: 40%;
    }

    #right {
        width: 60%;
    }
    #container{
        justify-content: center;
    }
}

@media only screen and (max-width:1050px) {
    #brands {
        flex-wrap: wrap;
    }

    .learn-more {
        flex-direction: column;
        height: max-content;
    }

    .learn-more-sec {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid gray;
    }
    #right {
        width: 60%;
        padding: 0;
    }

    #right img {
        height: 80%;
    }
}

@media only screen and (max-width:870px) {

    .contact-us{
        height: max-content;
    }
    .case-study p {
        width: 70%;
    }

    #hero-section {
        flex-direction: column;
    }

    #right {
        width: 100%;
        margin: 50px 0;
    }
    #left {
        width: 100%;
    }
}

@media only screen and (max-width:780px) {
    .case-study h2 {
        width: 40%;
    }
    .sec p{
        width: 80%;
    }
    p{
        margin: 0;
        margin-top: 20px;
    }
}

@media only screen and (max-width:500px) {
    #brands{
        margin: 10px;
    }
    .elem{
        min-width: 100px;
        width: 100%;
    }
    .section{
        margin: 50px 0;
        padding: 0;
    }
    #hero-section{
        margin: 30px 0;
    }
    .part2 img{
        width: 100%;
        aspect-ratio: 5/1;
    }
    #more{
        margin-bottom: 0;
    }
    nav{
        padding: 10px;
    }
}

@media only screen and (max-width:650px) {
    .contact-us{
        grid-template-rows: 3fr 3fr 1.1fr;
        position: relative;
    }
    .contact-left{
        grid-column: 1/3;   
    }
    .contact-left button{
        position: absolute;
        bottom: 0;
        grid-row: 3/4;
    }
    .contact-right{
        height: 100%;
        justify-content: start;
        grid-row: 2/3;
        grid-column: 1/3;
    }
    /* .contact-right img{
        height: 100%;
    } */
}